section {
    margin: auto;
    padding: 20px;
    width: 100%;

}

.header {
    height: 120px;
    display: flex;
    align-items:center;
    margin-bottom: 30px;
    padding-left: 25px;
    background-color: #fcfcfc;
}

.header p {
    margin: 20px;
    font-size: 1.6rem;
}

.header img {
    width: 80px;
    margin: 0;
}

table {
    background-color: #fcfcfc;
}